.scene {
  height: 100%;
  width: 100%;
}
.container {
  height: 20vh;
  width: 20vh;
  position: absolute;
  overflow: hidden;
}
.layer {
  background-repeat: no-repeat;
  object-fit: cover;
  animation-iteration-count: infinite;
  position: absolute;
  image-rendering: pixelated;
  animation-name: spriteX;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
@keyframes spriteX {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
